body {
  background-color: #152345;
  color: white;
  font-family: 'Play', sans-serif; }

button {
  border-radius: 0px;
  color: white; }

button:hover,
button:focus {
  border-color: #33C3F0;
  color: white; }

nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-around; }

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px; }

nav a:hover {
  text-decoration: underline; }

.App {
  text-align: center; }

.App-header {
  background-image: url("./assets/img/lightsaber.png");
  background-position: top;
  border-bottom: 5px solid white;
  height: 75px;
  padding: 20px;
  color: white; }

.search-box {
  width: 90%;
  margin: 20px auto; }
  .search-box input {
    background: none;
    border-radius: 0px;
    width: 50%; }
  .search-box button {
    margin: 10px; }
  .search-box i {
    color: white; }
    .search-box i:hover {
      color: #33C3F0; }

.search-advanced {
  width: 30%;
  margin: auto; }
  .search-advanced form {
    display: flex;
    justify-content: space-between; }

.results-box {
  font-size: 1.5em; }

.details-name {
  font-size: 2.5em; }

.details-box table {
  width: 80%;
  margin: auto; }
