// $blue-primary: #1D5CFB
// $red-primary: #FC1D28

$primary: #1D5CFB
$secondary: #33C3F0

body
  background-color: #152345
  color: white
  font-family: 'Play', sans-serif

button
  border-radius: 0px
  color: white

button:hover,
button:focus
  border-color: $secondary
  color: white

nav
  margin-top: 10px
  display: flex
  justify-content: space-around

nav a
  text-decoration: none
  color: white
  font-size: 16px

nav a:hover
  text-decoration: underline

.App
  text-align: center

.App-header
  background-image: url("./assets/img/lightsaber.png")
  background-position: top
  border-bottom: 5px solid white
  height: 75px
  padding: 20px
  color: white

.search-box
  width: 90%
  margin: 20px auto
  input
    background: none
    border-radius: 0px
    width: 100%

.results-box
  font-size: 1.5em

.details-name
  font-size: 2.5em

.details-table
  max-width: 80%
  margin: auto
